/*--- settings - start ---*/
@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins bold";
    src: url(fonts/Poppins-Bold.ttf);
}
*{
    font-family: "Poppins";
}

h1, h2, h3, h4{
    font-family: "Poppins bold";
}
h1{
    font-size: 40px;
    color: #ae8625;
    margin-bottom: 25px;
}
h2{
    font-size: 30px;
    margin-bottom: 20px;
}
h3{
    font-size: 25px;
    margin-bottom: 10px;
}
h4{
    font-size: 20px;
    margin-bottom: 10px;
}
p{
    font-size: 20px;
}
/*--- settings - end ---*/

/*--- general - start ---*/
body{
    margin: 0;
}
.top_section{
    padding: 10vw 5vw 5vw;
}
.middle_section{
    padding: 5vw;
}
.bottom_section{
    padding: 5vw 5vw 10vw;
}
main{
    min-height: 100vh;
}
/*--- general - end ---*/

/*--- nav - start ---*/
nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    width: 90%;
    transition: 0.5s;
    z-index: 100;
}
.scrolled_nav{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
nav img{
    height: 40px;
}
#nav_links a{
    color: rgb(32, 32, 32);
    text-decoration: none;
    font-size: 22.5px;
    margin-left: 15px;
}
.current_nav_link{
    font-weight: bold;
}
#nav_btn{
    display: none;
}
#nav_menu{
    display: none;
}
/*--- nav - end ---*/

/*--- footer - start ---*/
footer{
    background: linear-gradient(to top right, rgb(250, 250, 250), rgb(215, 215, 215));
    padding: 5vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
}
.footer_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer_logo img{
    width: 100%;
}
#footer_logo h2{
    text-align: center;
}

#footer_sitemap a{
    font-size: 20px;
    color: rgb(32, 32, 32);
    text-decoration: none;
    margin-bottom: 10px;
}
.current_footer_link{
    font-weight: bold;
}

.footer_social{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}
.footer_social i{
    font-size: 30px;
    margin-right: 15px;
}
.footer_social p{
    font-size: 20px;
    margin: 0;
}

#footer_links a, #footer_links p{
    font-size: 20px;
    margin: 0 0 20px;
    color: black;
}
/*--- footer - end ---*/

/*tablet styling*/
@media(max-width:1075px){
    /*--- nav - start ---*/
    nav{
        padding: 15px 5%;
    }
    nav img{
        height: 50px;
    }
    /*--- nav - end ---*/
}

/*normal tablet styling*/
@media(max-width:850px){
    /*--- general - start ---*/
    .top_section{
        padding: 16vw 5vw 8vw;
    }
    .middle_section{
        padding: 8vw;
    }
    .bottom_section{
        padding: 8vw 5vw 16vw;
    }
    main{
        min-height: 100vh;
    }
    /*--- general - end ---*/

    /*--- nav - start ---*/
    #nav_btn{
        display: block;
        margin: 0;
        font-size: 50px;
        line-height: 50px;
    }
    #nav_links{
        display: none;
    }
    #nav_menu{
        position: fixed;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgb(225, 225, 225);
        transition: 0.25s;
        pointer-events: none;
        transform: translateY(50px);
        opacity: 0;
        filter: blur(1px);
    }
    #nav_menu a{
        text-decoration: none;
        color: black;
        font-size: 25px;
        margin: 5px 0;
    }
    .current_nav_menu{
        font-weight: bold;
    }
    /*--- nav - end ---*/
    
    /*--- footer - start ---*/
    footer{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    /*--- footer - end ---*/
}

/*phone styling*/
@media(max-width:450px){
    /*--- general - start ---*/
    .top_section{
        padding: 15vh 5vw 7.5vw;
    }
    .middle_section{
        padding: 7.5vw;
    }
    .bottom_section{
        padding: 7.5vw 5vw 15vw;
    }
    main{
        min-height: 100vh;
    }
    /*--- general - end ---*/

    /*--- nav - start ---*/
    nav img{
        height: 40px;
    }
    /*--- nav - end ---*/

    /*--- footer - start ---*/
    footer{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }
    /*--- footer - end ---*/
}