/*--- services header - start ---*/
#services_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services_header h4{
    margin: 0;
    text-align: justify;
    width: 60%;
}
/*--- services header - end ---*/

.service{
    display: flex;
    align-items: center;
}
.service img{
    width: 450px;
    margin-right: 50px;
}
.service p{
    text-align: justify;
}
.service a{
    font-size: 25px;
    padding: 5px 30px;
    text-decoration: none;
    transition: 0.25s;
}

/*normal tablet styling*/
@media(max-width:850px){
    .service{
        flex-direction: column;
    }
    .service img{
        width: 450px;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .service_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*phone styling*/
@media(max-width:450px){
    /*--- services header - start ---*/
    #services_header h4{
        width: 100%;
    }
    /*--- services header - end ---*/

    .service img{
        width: 90vw;
    }
}