/*--- presentation - start ---*/
#presentation{
    display: flex;
    align-items: center;
}
#presentation img{
    width: 450px;
    margin-right: 50px;
}
#presentation p{
    text-align: justify;
}
/*--- presentation - end ---*/

/*--- logos - start ---*/
#logos{
    padding: 0 5vw 5vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 150px;
    align-items: center;
    justify-content: center;
}
#logos img{
    width: 100%;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: 0.25s;
}
#logos img:hover{
    opacity: 1;
    filter: grayscale(0%);
}
/*--- logos - end ---*/

/*--- justification - start ---*/
#justification h1{
    text-align: center;
}
#justification_text{
    text-align: justify;
}
/*--- justification - end ---*/

/*--- strategy - start ---*/
#strategy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#strategy h1{
    text-align: center;
}
#strategy h4{
    text-align: justify;
}
.strategy_point{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.st_number{
    aspect-ratio: 1/1;
    height: 125px;
    width: 125px;
    min-height: 100px;
    background: linear-gradient(to right, #ae8625, #f7ef8a);
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.st_number span{
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.st_text{
    height: 125px;
    padding: 25px;
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}
.st_text h4{
    margin-top: 0;
}
.st_text p{
    margin: 0;
}
/*--- strategy - end ---*/

/*--- portfolio - start ---*/
#portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 25px;
}
#projects a{
    text-decoration: none;
}
.project{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project_bcg{
    height: inherit;
    width: inherit;
}
.project_text{
    width: inherit;
    height: inherit;
    margin-top: -350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.project_text img{
    width: 75%;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
.project_text p{
    width: 95%;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/*--- portfolio - end ---*/

/*--- contact - start ---*/
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact a{
    color: white;
    background-color: #ae8625;
    font-size: 20px;
    padding: 10px 25px;
    text-decoration: none;
    transition: 0.25s;
}
#contact a:hover{
    color: black;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
/*--- contact - end ---*/

/*tablet styling*/
@media(max-width:1075px){
    /*--- logos - start ---*/
    #logos{
        grid-gap: 100px;
    }
    /*--- logos - end ---*/

    /*--- portfolio - start ---*/
    #projects{
        grid-template-columns: repeat(2, 410px);
    }
    .project{
        width: 400px;
        height: 400px;
    }
    /*--- portfolio - end ---*/
}

/*normal tablet styling*/
@media(max-width:850px){
    /*--- logos - start ---*/
    #logos{
        grid-gap: 75px;
        padding: 0 8vw 8vw;
    }
    /*--- logos - end ---*/

    /*--- presentation - start ---*/
    #presentation{
        flex-direction: column;
    }
    #presentation img{
        margin-right: 0;
        margin-bottom: 50px;
    }
    #presentation h1{
        text-align: center;
    }
    /*--- presentation - end ---*/
    
    /*--- strategy - start ---*/
    .st_number{
        aspect-ratio: 2/3;
        height: 150px;
        width: auto;
    }
    .st_text{
        height: 150px;
    }
    /*--- strategy - end ---*/

    /*--- portfolio - start ---*/
    #projects{
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }
    .project{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
    .project_text{
        aspect-ratio: inherit;
        width: inherit;
        position: relative;
        margin-top: -100%;
    }
    /*--- portfolio - end ---*/
}

/*small tablet styling*/
@media(max-width:790px){
    /*--- logos - start ---*/
    #logos{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
    }
    /*--- logos - end ---*/

    /*--- strategy - start ---*/
    #strategy h1{
        text-align: center;
    }
    .strategy_point{
        flex-direction: column;
    }
    .st_number{
        height: auto;
        width: 100%;
        width: 100%;
        padding: 25px 0;
        aspect-ratio: auto;
    }
    .st_text{
        padding: 25px;
        height: auto;
    }
    /*--- strategy - end ---*/
}

/*phone styling*/
@media(max-width:450px){
    /*--- presentation - start ---*/
    #presentation{
        flex-direction: column;
    }
    #presentation img{
        width: 90vw;
        margin-right: 0;
        margin-bottom: 50px;
    }
    #presentation h1{
        text-align: center;
    }
    /*--- presentation - end ---*/

    /*--- portfolio - start ---*/
    #portfolio h1{
        text-align: center;
    }
    #projects{
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
    /*--- portfolio - end ---*/
    
    /*--- contact - start ---*/
    #contact h1{
        text-align: center;
    }
    /*--- contact - end ---*/
}